In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("data/staging_data.csv", delimiter=",")

In [5]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,0,18393,masculino,168,62.0,110,80,normal,normal,0,0,1,0,50
1,1,20228,feminino,156,85.0,140,90,muito_alto,normal,0,0,1,1,55
2,2,18857,feminino,165,64.0,130,70,muito_alto,normal,0,0,0,1,51
3,3,17623,masculino,169,82.0,150,100,normal,normal,0,0,1,1,48
4,4,17474,feminino,156,56.0,100,60,normal,normal,0,0,0,0,47

In [6]:
#pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.39.tar.gz (9.6 MB)
     ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
     ------------------------------------ --- 8.9/9.6 MB 46.3 MB/s eta 0:00:01
     ---------------------------------------- 9.6/9.6 MB 43.0 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\conta\anaconda3\envs\cardiocare\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 16.1/16.1 MB 112.3 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-2.0.39-cp312-cp312-win_amd64.whl size=2087048 sha256=a136a7897951198041b5f1a1e9cf450082aab3bbf4b64a4c167b3282e533b7e4
  Stored in directory: c:\users\conta\appdata\local\pip\cache\wheels\db\6b\e0\e269aab7ae783de2f6f98ec4016eeab891366b6c0aa9140c26
Successfully built sqlalchemy
Installing collected packages: mysql-connector-python, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 mysql-connector-python-9.2.0 sqlalchemy-2.0.39
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine  # Importação correta do create_engine

In [11]:
# Configurar a conexão com o MySQL
db_user = "rodrigozambon08"
db_password = "1S3gpL3vhH"
db_host = "mysql.rodrigozambon.com.br"  # Ou IP do servidor MySQL
db_name = "rodrigozambon08"
table_name = "staging_cardiocare"

# Criar a engine de conexão
engine = create_engine(f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}")

# Enviar os dados para o MySQL
df.to_sql(name=table_name, con=engine, if_exists="replace", index=False)

print(f"Dados inseridos na tabela '{table_name}' do banco '{db_name}' com sucesso!")

Dados inseridos na tabela 'staging_cardiocare' do banco 'rodrigozambon08' com sucesso!